body {
    margin: 0;
    padding: 0;
}


.main-div {
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-row: repeat(4, auto);
    grid-template-areas: 
        "t t t n n n n n n n n n"
        "i i i i i i i i i i i i"
        "e e e e e e e e e e e e"
        "f f f f f f f f f f f f";

}

.title {
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    grid-area: t;
    text-align: center;
}

.nav-bar {
    background-color: white;
    grid-area: n;
    font-size: 20px;
    font-weight: bold;
    color: #707070;
    grid-area: n;
    text-align: center;
    height: 52px;
}

.slideshow-container {
    background-color: violet;
    grid-area: i;
    height: 300px;
    display: flex;
    overflow-x: auto;
}

.elements {
    background-color: yellow;
    grid-area: e;
}

.footer {
    background-color: yellowgreen;
    grid-area: f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
    padding-right: 20px;
}

li p {
    padding: 14px 16px;
    margin: 0;
    font-weight: normal;
}

li span {
    font-weight: bold;
}

li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid blue;
}

a:active {
    text-decoration: underline;
}

.slider {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

